.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-family: "CabinetGrotesk";
  font-weight: 700;
  font-size: 20px;
}

.header__logo {
  margin-right: 24px;
  font-weight: 900;
}

.header__logo:hover {
  cursor: pointer;
}

.header__add-clothes-btn {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24px;
  color: black;
  border: none;
}

.header__add-clothes-btn {
  margin: 0 20px 0;
}

.header__add-clothes-btn:hover {
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
}

.header__avatar {
  cursor: pointer;
}

.header__nav-link {
  color: black;
  text-decoration: none;
}
